
input {
    width: 585px;
    height: 85px;
    border: 1px solid #BABABA;
    border-radius: 0 10px 10px 0;
    font-size: 30px;
}

.inputContainer {
    display: flex;
}
.iconContainer {
    width: 85px;
    height: 85px;
    background-color: #9CBCDE;
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

::placeholder {
    font-size: 25px;
    color: rgba(0%, 2%, 8%, 0.5);
    padding-left: 20px;
}