.searchInputWrapper {
    display: flex;
    border: 20px solid #D4D6F0;
    border-radius: 10px;
    width: 80%;
    height: 85px;
}
.inputContainer{
    flex: 4;
}
.searchInput {
    border: none;
    height: 100%;
    width: 90%;
    padding-left: 20px;
    font-size: 24px;
}
::placeholder {
    font-size: 20px;
    font-weight: 400;

}

.searchButtonWrapper {
    position: relative;
    margin-top: 12px;
    width: 243px;
    height: 60px;
    border-radius: 10px;
    background: linear-gradient(270deg, rgb(100, 118, 244), rgb(50, 70, 211));
    margin-right: 15px;
    flex: 1;
}
.search {
    font-size: 20px;
    font-weight: 500;
    color: white;
    text-align: center;
    margin-top: 17px;
}
.searchButton {
    background: no-repeat url('./searchImg.png');
    width: 30px;
    height: 30px;
    position: absolute;
    top: 15px;
    left: 40px;

}